@model IList<LogsDataAccess.ServiceMessageLog>

<table>
    <thead>
        <tr>
            <th class="path">Path</th>
            <th class="method">Method</th>
            <th class="host">Host</th>
            <th class="statusCode">Status Code</th>
            <th class="logs">Logs</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
    